html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family:
    'Nunito',
    'Noto Sans SC',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  /* Quicksand,serif */
  overflow: auto;
  background-image: url('/img/galaxy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  overflow: auto;
  width: 100dvw;
  height: 100dvh;
  padding-top: 70px;
  padding-bottom: 150px;
}

.center-layout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Game css from https://github.com/dhyegocalota/generals-io-webapp */

.Dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dialog__Content {
  min-width: 150px;
  padding: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 0 var(--primary-color);
}

.DialogButtons {
  display: flex;
  margin-top: 0.55em;
  flex-direction: column;
  align-items: center;
}

.DialogButtons .Button {
  margin: 0.25em 0;
}

.Game {
  --primary-color: #d7afff;
  position: relative;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  /* background-color: rgb(17 24 39 / var(--tw-bg-opacity)); */
  /* font-family: "Quicksand", sans-serif; */
  font-size: 16px;
}

.TurnsCount {
  position: 'absolute';
  left: '5px';
  top: '0px';
  z-index: 110;
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: #fff;
  font-size: 1em;
  box-shadow: 2px 2px 0 var(--primary-color);
}

.OverDialog__Title {
  margin: 0;
  text-align: center;
}

/* Navbar css */

@media (min-width: 1200px) {
  .dock {
    width: 80dvw;
  }
}

@media (min-width: 900px) {
  .navbar-mobile-logo {
    display: none !important;
  }
}

@media (max-width: 900px) {
  .navbar-pc-logo {
    display: none !important;
  }

  .dock {
    width: 100dvw
  }
}

.navbar {
  background: transparent !important;
  box-shadow: none !important;
  /* background: rgb(99 97 141 / 68%) !important; */
  /* Minimal browser support */
  /* backdrop-filter: blur(3px) !important; */
  height: 60px !important;
}

.dock {
  height: 100%;
  background: rgb(99 97 141 / 68%) !important;
  border-radius: 0 0 10px 10px;
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-pc-logo {
  width: 40px;
  margin: 10px 5px 10px 5px;
}

.navbar-mobile-logo {
  width: 40px;
  margin: 10px 0px 10px 0px;
}

.navbar-language-switch {
  height: 30px !important;
  color: white;
  background: rgba(217, 217, 217, 0.14);
  backdrop-filter: blur(2px);
}

#navbar-link {
  font-weight: 300 !important;
}

.menu-container {
  backdrop-filter: blur(3px);
  background-color: rgb(99 97 141 / 68%) !important;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  color: white;
}

.queue_up::before,
.queue_down::before,
.queue_right::before,
.queue_left::before {
  z-index: 30;
  position: absolute;
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px #000;
}

.queue_up::before {
  left: 50%;
  top: -12.5%;
  content: '↑';
  transform: translate(-50%, -50%);
}

.queue_down::before {
  left: 50%;
  bottom: -12.5%;
  content: '↓';
  transform: translate(-50%, 50%);
}

.queue_right::before {
  top: 50%;
  right: -12.5%;
  content: '→';
  transform: translate(50%, -50%);
}

.queue_left::before {
  top: 50%;
  left: -12.5%;
  content: '←';
  transform: translate(-50%, -50%);
}