/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTk3j77e.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTA3j77e.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTs3j77e.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTo3j77e.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* :root {
  font-size: 14px;
}

@media (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  :root {
    font-size: 18px;
  }
} */

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family:
    'Nunito',
    'Noto Sans SC',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  /* Quicksand,serif */
  overflow: auto;
  background-image: url('/img/galaxy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overscroll-behavior-y: contain;
}

:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  overflow: auto;
  width: 100dvw;
  height: 100dvh;
}

.center-layout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.center-layout>div>:first-child {
  margin-top: 80px !important;
}

.center-layout>div>:last-child {
  margin-bottom: 80px !important;
}

.Dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dialog__Content {
  min-width: 150px;
  padding: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 0 var(--primary-color);
}

.DialogButtons {
  display: flex;
  margin-top: 0.55em;
  flex-direction: column;
  align-items: center;
}

.DialogButtons .Button {
  margin: 0.25em 0;
}

.Game {
  --primary-color: #d7afff;
  position: relative;
  /* todo: if set 100% instead of 100vw, some browser will not display correctly */
  /* height: 100%; */
  /* width: 100%; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  --tw-bg-opacity: 1;
  /* background-color: rgb(17 24 39 / var(--tw-bg-opacity)); */
  /* font-family: "Quicksand", sans-serif; */
  font-size: 16px;
}

@supports (height: 100dvh) {
  .Game {
    height: 100dvh;
    width: 100dvw;
  }
}

.TurnsCount {
  position: 'absolute';
  left: '5px';
  top: '0px';
  z-index: 110;
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: #fff;
  font-size: 1em;
  box-shadow: 2px 2px 0 var(--primary-color);
}

.OverDialog__Title {
  margin: 0;
  text-align: center;
}

/* Navbar css */

@media (min-width: 1200px) {
  .dock {
    width: 80dvw;
  }
}

@media (min-width: 900px) {
  .navbar-mobile-logo {
    display: none !important;
  }
}

@media (max-width: 900px) {
  .navbar-pc-logo {
    display: none !important;
  }

  .dock {
    width: 100dvw
  }
}

.navbar {
  background: transparent !important;
  box-shadow: none !important;
  /* background: rgb(99 97 141 / 68%) !important; */
  /* Minimal browser support */
  /* backdrop-filter: blur(3px) !important; */
  height: 60px !important;
}

.dock {
  height: 100%;
  background: rgb(99 97 141 / 68%) !important;
  border-radius: 0 0 10px 10px;
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-pc-logo {
  width: 40px;
  margin: 10px 5px 10px 5px;
}

.navbar-mobile-logo {
  width: 40px;
  margin: 10px 0px 10px 0px;
}

.navbar-language-switch {
  height: 30px !important;
  color: white;
  background: rgba(217, 217, 217, 0.14);
  backdrop-filter: blur(2px);
}

#navbar-link {
  font-weight: 300 !important;
}


.menu-container {
  backdrop-filter: blur(3px);
  background-color: rgb(99 97 141 / 68%) !important;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  color: white;
}

.attack-button {
  backdrop-filter: blur(3px);
  background-color: rgb(99 97 141 / 68%) !important;
  border-radius: 10px !important;
  padding: 8px;
  color: white;
  box-shadow: 2;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
}

.queue_up::before,
.queue_down::before,
.queue_right::before,
.queue_left::before {
  z-index: 30;
  position: absolute;
  font-size: 1rem;
  color: white;
  text-shadow: 1px 1px #000;
}

.queue_up::before {
  left: 50%;
  top: -6.25%;
  content: '↑';
  transform: translate(-50%, -50%);
}

.queue_down::before {
  left: 50%;
  bottom: -6.25%;
  content: '↓';
  transform: translate(-50%, 50%);
}

.queue_right::before {
  top: 50%;
  right: -6.25%;
  content: '→';
  transform: translate(50%, -50%);
}

.queue_left::before {
  top: 50%;
  left: -6.25%;
  content: '←';
  transform: translate(-50%, -50%);
}

.react_markdown {
  font-size: small;
}

@media (min-width: 600px) {
  .react_markdown {
    font-size: medium;
  }
}